<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 控制台主页一</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{__STATIC_ADMIN_PATH__}layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="{__STATIC_ADMIN_PATH__}layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <h1 style="text-align: center;">天下熙熙皆为利来，天下攘攘皆为利往</h1>
        </div>
    </div>
</div>

<script src="{__STATIC_ADMIN_PATH__}layuiadmin/layui/layui.js?t=1"></script>
<script>
    layui.config({
        base: '/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'console']);
</script>
</body>
</html>

